#textdomain wesnoth-Aria_of_the_Dragon_Slayer

[scenario]
    id=14_The_King_In_The_Woods
    name= _ "The King-in-the-Woods"
    next_scenario=15_Princess_Of_Blood
    map_data="{~add-ons/Aria_of_the_Dragon_Slayer/maps/14_The_King_In_The_Woods.map}"
    turns=1
    {DUSK2}

    {SCENARIO_MUSIC Enchanted_Forest.ogg}

    {WEAPON_SPECIALS_EVENTS}

    # This is a dialogue-only scenario

    {KING_IN_WOODS_STORY}

    [side]
        {TENMA}
        recruit=
        {GOLD 200 170 140}
        {INCOME 12 9 6}
        team_name=teamtenma
        user_team_name=_"Travellers"

        {FLAG_VARIANT6 ragged}
    [/side]

    [side]
        {GILTHELYON}
        recruit=
        side=2
        team_name=teamtenma
        user_team_name=_"Lins-Elens Elves"
        gold=0
        income=0

        {FLAG_VARIANT wood-elvish}
    [/side]

    [event]
        name=prestart

        [recall]
            id=Olokun
            x=9
            y=8
        [/recall]
        [recall]
            id=Kenshiro
            x=7
            y=8
        [/recall]

        [unit]
            id=Kaldan
            name=_"Sage Kaldan"
            type=Elvish High Lord
            side=2
            x,y=9,6
        [/unit]

        [unit]
            {GELENDRAS}
            side=2
            x,y=7,6
        [/unit]

        {PLACE_IMAGE items/elven-throne.png   8 4}
        {PLACE_IMAGE items/elven-banner.png   7 5}
        {PLACE_IMAGE items/elven-banner.png   9 5}
    [/event]

    [event]
        name=start

        [message]
            speaker=Kaldan
            message= _ "The King-in-the-Woods! What are you waiting for, humans? Bow down and show him your respect and gratitude for being the first humans allowed in this palace in thousands of years!"
        [/message]
        [message]
            speaker=Thelyon
            message= _ "Kaldan, please, treat our guests more respectfully; they come from another culture, and so they are not obliged to know, or even follow, our customs. But I deem it fair that I ask you to introduce yourselves, for I still ignore who you may be."
        [/message]
        [message]
            speaker=Olokun
            message= _ "Lord Gil-Thelyon, I am Olokun Maahes, and these are Tenma and Kenshiro; we are travellers from a distant land, but we have befriended Queen Dragana Vasilya as we crossed the Emerald Plains, and so we accepted bringing you a request on her behalf..."
        [/message]
        [message]
            speaker=Thelyon
            message= _ "And I presume it is something related to this sudden attack by the drakes, am I correct? Go on, young man, I am really interested in knowing more about that."
        [/message]
        [message]
            speaker=Olokun
            message= _ "This drake attack seems to have been triggered by our... careless invasion of drake and saurian territory. What is worse, according to the drake commander who attacked Mhreghost a few days ago, Lord Vladnir Ohn actually seeks to start a new Dragon War, like the one from ages ago, to bring all of this continent under his people's control."
        [/message]
        [message]
            speaker=Thelyon
            message= _ "A new Dragon War...? I have consulted with my wisest advisors, and none of them even considered that as the reason behind this attack – and yet it makes perfect sense... I am also surprised that you actually know about that war; I did not know that humans still remembered that."
        [/message]
        [message]
            speaker=Olokun
            message= _ "Most humans don't; but my people descend from refugees of that war, amongst them Aragwaithi and Windsong survivors, all led by Myra of Hiera'Shirsha and by other heroes, such as Princess Alenya of Lintanir."
        [/message]
        [message]
            speaker=Thelyon
            message= _ "(surprised) I am frankly impressed, young man; your knowledge on that war must be indeed vast, for you to know about even the Lost Princess of Lintanir... But we digress. You claim that the drakes want a new Dragon War; indeed, the drakes of Vladnir Ohn have spent enough time in the Kehshakaar Mountains to have multiplied into hundreds of thousands – not mentioning the equally large drake community in the Shakaar Mountains, led by Vladnir's sister. This seems enough reason for us to formally build an alliance with the Baryags and whoever else may be willing to aid us."
        [/message]
        [message]
            speaker=Kaldan
            message= _ "Well, Lord King, the facts presented by the human undeniably point at that, but I question whether allying ourselves with weaker nations will be profitable for us. Being the strongest member of the alliance means that we would receive countless requests for aids; in other words, many elves would have to die to protect allies that, not long after this war ends, may even attack us themselves!"
        [/message]
        [message]
            speaker=Tenma
            message= _ "Wait a minute, you..."
        [/message]
        [message]
            speaker=Olokun
            message= _ "Tenma, wait!"
        [/message]
        [message]
            speaker=Tenma
            message= _ "...you will pardon my lack of ceremony and all, but I won't let that pass unanswered. You elves know lots of things, and your country is wonderful, powerful and advanced, but you're not too high that you can disregard your neighbours. There are thousands of other people living here, and this is their planet as much as it is yours, so you should try and make some friends out there! True, some are treacherous, others won't make worthwhile allies, but many will become true friends if you just stretch out a friendly hand for them!"
        [/message]
        [message]
            speaker=Thelyon
            message= _ "(smiling) There you have it, more bluntly expressed, but still my thoughts precisely! Elves, there have been two instances in the past when the Lins-Elens united with other nations: first in the War of Irdya's Kings, and second in the Dragon War. Our ancestors were not troubled by ethnic differences to fight a common enemy, so why should we? I say let us unite with Queen Dragana of the Baryags and whoever else accepts to join us to once more stop the fire lizards' rampage!"
        [/message]
        [message]
            speaker=Gelendras
            message= _ "Well, father, if that is your choice, I shall respect it, for you're much wiser than I am."
        [/message]
        [message]
            speaker=Kaldan
            message= _ "I make Prince Gelendras' words mine. I shall send the message throughout the Lins-Elens, informing all cities that they must prepare their soldiers for battle."
        [/message]
        [message]
            speaker=Thelyon
            message= _ "The Lins-Elens Elves shall march alongside the Baryags of Dragana Vasilya; we shall send messengers to all neighbouring nations, even the Wesnothians, warning them of this threat; the drakes are foes to everyone, after all."
        [/message]
        [message]
            speaker=Olokun
            message= _ "Though I have no such authority, I'd like to thank you on behalf of all Baryags, Lord Gil-Thelyon. We shall return as soon as we can, and transmit Queen Dragana this news!"
        [/message]
        [message]
            speaker=Thelyon
            message= _ "I suggest you take a different path: you could earn us another powerful ally if you go south, to Firecloud Peak. There lives a mighty human sorceress who is known for having killed the last dragon on this continent; her knowledge on how to kill the fire lizards would be invaluable to us. She has never taken anyone's side in any conflict, but she may be convinced to follow you if she meets this smart girl next to you – after all, one seldom has the opportunity to meet someone whose powers defies all established lore on magic..."
        [/message]
        [message]
            speaker=Tenma
            message= _ "(blushes)"
        [/message]
        [message]
            speaker=Thelyon
            message= _ "Be warned though: on the path to that volcano, you may come across Wesnothians and minotaurs, both of whom will hardly show you any friendliness."
        [/message]
        [message]
            speaker=Gelendras
            message= _ "But the most dangerous threat for you probably lies within this forest: Cornelya. If she finds you wandering amidst our trees, not even my father's seal and escorts will save you from her fury. I would go along with you, and thus she might refrain herself, but, as the High Marshal of the Lins-Elens Elves, I have other duties."
        [/message]
        [message]
            speaker=Thelyon
            message= _ "(sigh) Unfortunately, what my son says is true. Cornelya is my foster-daughter; since an accident many years ago, she has been feeding a vicious hatred for all non-elves. If you come across her, you have my permission to stop and capture her; I had to do something about that bloodthirsty war band of hers anyway..."
        [/message]
        [message]
            speaker=Olokun
            message= _ "Well, if that is all, then we shall go to Firecloud Peak as soon as possible. But, before we leave, if I may ask... What was the War of Irdya's Kings?"
        [/message]
        [message]
            speaker=Thelyon
            message= _ "A war so ancient that it was considered legend even in the age of the Dragon War – but this is a long story, which I am certain you will rather hear another day, am I correct?"
        [/message]
        [message]
            speaker=Olokun
            message= _ "Indeed, Lord Gil-Thelyon. With your permission, we shall depart now."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            carryover_report=no
            linger_mode=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
[/scenario]
