#textdomain wesnoth-Aria_of_the_Dragon_Slayer

[unit_type]
    id=Baryag Hammerer
    name= _ "Hammerer"
    race=baryag
    {TRAIT_FEARLESS}
    image="units/baryags/crusher.png"

    hitpoints=38
    movement_type=baryagfoot
    movement=5
    experience=42
    level=1
    alignment=lawful
    advances_to=Baryag Raging Bear
    cost=18
    usage=fighter
    description= _ ""
    {DEFENSE_ANIM "units/baryags/crusher-defend.png" "units/baryags/crusher.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [death]
        [frame]
            begin=0
            end=200
            image="units/baryags/crusher-death-1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/baryags/crusher-death-2.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/baryags/crusher-death-3.png"
        [/frame]
    [/death]
    [attack]
        name=maul
        description= _ "maul"
        type=impact
        range=melee
        damage=11
        number=2
        icon=attacks/hammer.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=maul
        [/filter_attack]
        [frame]
            begin=-300
            end=-100
            image="units/baryags/crusher-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/baryags/crusher-attack.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/baryags/crusher-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/baryags/crusher.png"
        [/frame]
    [/attack_anim]
[/unit_type]
