#textdomain wesnoth-Aria_of_the_Dragon_Slayer
[unit_type]
    id=Sogen Huntress
    name= _ "Huntress"
    race=sogen
    image="units/sogen/archer.png"

    hitpoints=26
    movement_type=sogenfoot
    movement=6
    experience=34
    level=1
    alignment=lawful
    advances_to=Sogen Priestess
    cost=17
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/sogen/archer.png" "units/sogen/archer.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [movement_costs]
        hills=2
    [/movement_costs]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-curved.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/sogen/archer.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/sogen/archer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/sogen/archer-bow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/sogen/archer-bow-attack1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/sogen/archer-bow-attack1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-230
            image="units/sogen/archer-bow-attack2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/sogen/archer-bow-attack3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/sogen/archer-bow-attack4.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/sogen/archer-bow.png"
        [/frame]
    [/attack_anim]
[/unit_type]
