#textdomain wesnoth-Aria_of_the_Dragon_Slayer
[unit_type]
    id=Soul_Maat
    name= _ "Soul"
    race=undead
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=60
    movement_type=undeadspirit
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    movement=6
    experience=200
    level=6
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=100
    usage=mixed fighter
    image="units/souls/maat-soul.png"

    die_sound=wail-long.wav
    description= _ "When someone dies, his or her soul returns to the Land of the Dead; once there, it will plunge into the Wailing River and be renewed for its next incarnation. However, for such thing to happen, the soul must be at peace; but in a world of war and conflict, there are many who go to the world of the dead with their souls taken by strong feelings, such as anger or regretfulness. Such souls avoid the Wailing River, and begin to roam the realm of Death in a vain search for a way back to the Living World. Unlike ghosts - which are spirits bound and reshaped by dark magic - these lost souls are made of pure soul essence; albeit not as strong as the Necromancers' creations, they could pose great danger to any living soul that dares to enter their world."
    [resistance]
        arcane=120
        fire=60
    [/resistance]
    [movement_costs]
        unwalkable={UNREACHABLE}
    [/movement_costs]
    [abilities]
        {ABILITY_SOUL_REGENERATION}
		{ABILITY_SKIRMISHER}
        {ABILITY_CURES}
		{ABILITY_LEADERSHIP}
        {ABILITY_ILLUMINATES HALO="halo/illuminates-aura.png"}
    [/abilities]

    [standing_anim]
        direction=s,se,sw
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            image="units/souls/maat-soul.png:1400"
        [/frame]
    [/standing_anim]
    [standing_anim]
        direction=n,ne,nw
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            image="units/souls/maat-soul.png:1400"
        [/frame]
    [/standing_anim]

    [defend]
        start_time=-126
        [if]
            hits=hit
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126

            hit_sound_start_time=-25
            [hit_sound_frame]
                sound=wail-sml.wav
            [/hit_sound_frame]
        [/if]
        [else]
            hits=kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
        [/else]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
        [/else]
        [if]
            direction=s,se,sw
            [frame]
                image=units/souls/maat-soul-defend.png:1,units/souls/maat-soul-defend.png:250,units/souls/maat-soul-defend.png:1
            [/frame]
        [/if]
        [else]
            direction=n,ne,nw
            [frame]
                image=units/souls/maat-soul-defend.png:1,units/souls/maat-soul-defend.png:250,units/souls/maat-soul-defend.png:1
            [/frame]
        [/else]
    [/defend]

    [attack]
        name=touch
        description=_"spirit sceptre"
        icon=attacks/staff-spirit.png
        type=arcane
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=15
        number=2
    [/attack]
    [attack]
        name=sacred_arrow
        description=_"Worldsweave Arrow"
        icon=attacks/bow-elven-magic.png
        type=arcane
        range=ranged
        [specials]
           {WEAPON_SPECIAL_UNERRING}
           {WEAPON_SPECIAL_BEAM}
        [/specials]
        damage=20
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/heroes/maat-soul.png:50"
        [/frame]
        [frame]
            image="units/heroes/maat-soul-attack-staff-[1~2].png:[100,200]"
        [/frame]
        [frame]
            image="units/heroes/maat-soul-attack-magic-1.png:75"
        [/frame]
        [frame]
            image="units/heroes/maat-soul.png:75"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sacred_arrow
        [/filter_attack]

        start_time=-445
        [frame]
            image="units/souls/maat-soul-attack-bow.png"
        [/frame]
        missile_start_time=-150
        [if]
            hits=no

            [missile_frame]
                duration=150
                image="projectiles/sacred-arrow-n.png"
                image_diagonal="projectiles/sacred-arrow-ne.png"
            [/missile_frame]

            [frame]
                image="units/souls/maat-soul-attack-bow.png:100"
                sound=union-3.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/sacred-arrow-n.png"
                image_diagonal="projectiles/sacred-arrow-ne.png"
                offset=0~0.8
            [/missile_frame]

            [frame]
                image="units/souls/maat-soul-attack-bow.png:100"
                sound=union-3.ogg
            [/frame]
        [/else]
        [frame]
            image="units/souls/maat-soul-attack-bow.png:195"
        [/frame]
    [/attack_anim]
[/unit_type]
